.fcr-title {
    /* Titles */

    width: 292px;
    height: 54px;

    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    text-align: center;

    color: #1C1B1F;

}

.fcr-label {

    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    color: #676769;

}